<%- include('../partials/head.ejs') %>

<main>

    <div class="dashboard">
<%- include('../components/list.ejs') %>
<%- include('../components/map.ejs') %>

<%- include('../components/page-switch.ejs') %>
        
    </div>

</main>

<%- include('../partials/foot.ejs') %>